.article {
   width: 100%;
   padding-top: 4rem;
   padding-bottom: 6rem;
   overflow-wrap: break-word;
   @include screen-size(tablet-portrait) {
      padding-top: 5rem;
      padding-bottom: 7rem;
   }
   @include screen-size(desktop) {
      padding-top: 6rem;
      padding-bottom: 8rem;
   }
}

.article-header {
   //
}

.article-title {
   font-weight: 800;
   line-height: 1.25;
   font-size: 2rem;
   @include screen-size(tablet-portrait) {
      font-size: 2.375rem;
   }
   @include screen-size(desktop) {
      font-size: 3rem;
   }
}

.article-leading {
   margin-top: 1em;
   font-size: 1.25rem;
   @include screen-size(tablet-portrait) {
      font-size: 1.25rem;
   }

   @include screen-size(tablet-landscape) {
      font-size: 1.5rem;
   }

   @include screen-size(desktop) {
      font-size: 1.75rem;
   }
}

.article-body {
   margin-top: 2em;
   font-size: 1.125rem;
   @include screen-size(tablet-portrait) {
      font-size: 1.25rem;
   }

   @include screen-size(tablet-landscape) {
      font-size: 1.375rem;
   }
}

.article-info {
   margin-top: 3rem;
   // background-color: var(--secondary-bg-color);
   border: 0.125rem dashed var(--secondary-bg-color);
   border-radius: 10px;
   padding: 2rem;
   text-align: center;
   @include screen-size(tablet-portrait) {
      font-size: 1.25rem;
      padding: 3rem;
      margin-top: 4rem;
   }

   @include screen-size(tablet-landscape) {
      font-size: 1.375rem;
   }
}

.medium-icon {
   svg {
      width: 2.5rem;
      height: auto;
      path {
         fill: var(--link-color);
      }
   }
}
