.content {
   .article-image {
      width: 100%;
      img {
         width: 100%;
      }

      &--featured {
         margin-top: 2em;
         @include screen-size(desktop) {
            width: calc(100% + 400px);
            margin-left: -200px;
         }
      }
   }

   .article-image-wrapper {
      background-color: #fff;
   }

   .article-image-caption {
      text-align: center;
      font-size: 0.75em;
      color: var(--secondary-text-color);
      margin-top: 0.5em;
   }

   hr {
      width: 5rem;
      border: 1px solid var(--link-color);
      margin-top: 2em;
      margin-bottom: 2em;
   }

   & > * + * {
      margin-top: 1.5em;
   }

   & > h1 + *,
   & > h2 + *,
   & > h3 + * {
      margin-top: 0.5em;
   }

   h2 {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.25;
      @include screen-size(tablet-portrait) {
         font-size: 1.75rem;
         line-height: 1.125;
      }

      @include screen-size(tablet-landscape) {
         font-size: 2.25rem;
      }
   }

   h3 {
      font-weight: 700;
      font-size: 1.25rem;
      @include screen-size(tablet-portrait) {
         font-size: 1.375rem;
      }

      @include screen-size(tablet-landscape) {
         line-height: 1.25;
         font-size: 1.5rem;
      }
   }

   :not(.article-image) a {
      font-weight: 600;
      color: var(--link-color);
   }

   blockquote {
      padding-left: 1em;
      border-left: 0.25rem solid var(--link-color);
      font-size: 1.125em;
   }

   code {
      background-color: var(--secondary-bg-color);
      color: var(--link-color);
      padding: 0.25em;
      font-family: monospace;
   }

   pre {
      background-color: var(--secondary-bg-color);
      color: var(--link-color);
      padding: 1.75em;
      font-family: monospace;
      code {
         display: block;
         overflow-x: auto;
      }
      @include screen-size(tablet-landscape) {
         margin-left: -8rem;
      }
   }
}
