.content {
   .article-image {
      width: 100%;
      img {
         width: 100%;
      }

      &--featured {
         margin-top: 2em;
         @include screen-size(desktop) {
            width: calc(100% + 400px);
            margin-left: -200px;
         }
      }
   }

   .article-image-wrapper {
      background-color: #fff;
   }

   .article-image-caption {
      text-align: center;
      font-size: 0.75em;
      color: var(--secondary-text-color);
      margin-top: 0.5em;
   }

   hr {
      width: 5rem;
      border: 1px solid var(--link-color);
      margin-top: 2em;
      margin-bottom: 2em;
   }

   & > * + * {
      margin-top: 1.5em;
   }

   & > * + h1,
   & > * + h2,
   & > * + h3 {
      margin-top: 3em;
   }

   & > h1 + *,
   & > h2 + *,
   & > h3 + * {
      margin-top: 0.75em;
   }

   & > * + blockquote {
      margin-top: 3em;
   }

   blockquote + * {
      margin-top: 3em;
   }

   h2 {
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 1.25;
      @include screen-size(tablet-portrait) {
         font-size: 1.75rem;
         line-height: 1.125;
      }

      @include screen-size(tablet-landscape) {
         font-size: 2rem;
      }
   }

   h3 {
      font-weight: 800;
      font-size: 1.25rem;
      @include screen-size(tablet-portrait) {
         font-size: 1.375rem;
      }

      @include screen-size(tablet-landscape) {
         line-height: 1.25;
         font-size: 1.5rem;
      }
   }

   :not(.article-image) a {
      font-weight: 700;
      color: var(--link-color);
   }

   ul,
   ol {
      padding-left: 20px;
      & > * {
         margin-top: 0.5em;
      }
   }

   ol {
      list-style: decimal;
   }

   ul {
      list-style: disc;
   }

   blockquote {
      padding: 1.25em;
      border-left: 0.25rem solid var(--link-color);
      font-size: 1.125em;
      position: relative;
   }

   :not(pre) code {
      color: var(--code-text-color);
      padding: 0.125em;
      font-family: var(--code-font-family);
      background-color: var(--code-bg-color);
      font-size: 0.875em;
   }

   pre {
      font-size: 0.875em;
      border: 4px solid var(--link-color);
      color: var(--link-color);
      padding: 1.25em 1.5em;
      font-family: var(--code-font-family);
      border-image-source: linear-gradient(
         90deg,
         var(--link-color),
         transparent
      );
      border-image-slice: 1;

      @include screen-size(tablet-landscape) {
         margin-left: -4rem;
      }

      code {
         display: block;
         overflow-x: auto;
         background-color: transparent;
      }
   }

   //

   .language-scss {
      font-weight: 700;
      .token {
         &.punctuation {
            font-weight: 400;
         }
         &.property {
            font-weight: 400;
         }
      }
   }
}
