.blocks {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1200px;
   padding-left: 100px;
   padding-top: 6rem;
}

.block {
   display: flex;
   flex-direction: column;
   width: 100%;
}
