@import "base/reset";
@import "base/settings";
@import "base/mixins";
@import "base/general";
@import "components/article-list";
@import "components/dark-mode-toggle";
@import "components/main-menu";
@import "components/site-info";
@import "globals/header";
@import "globals/footer";
@import "globals/page";
@import "bio";
@import "article";
@import "writing";
@import "content";

.site-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   // box-shadow: inset 0 0 0 10px lightcoral;
   @include screen-size(tablet-landscape) {
      min-height: calc(100vh - 8rem);
      align-items: center;
      justify-content: center;
   }
}
