@import "base/reset";
@import "base/settings";
@import "base/mixins";
@import "base/general";
@import "components/article-list";
@import "components/project-list";
@import "components/dark-mode-toggle";
@import "components/main-menu";
@import "components/site-info";
@import "globals/header";
@import "globals/footer";
@import "globals/page";
@import "bio";
@import "article";
@import "writing";
@import "content";

.site-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 6rem;
   @include screen-size(tablet-landscape) {
      min-height: calc(100vh - 8rem);
   }
}

.link {
   font-weight: 700;
   color: var(--link-color);
}

.container {
   width: 90%;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;

   &--narrow {
      max-width: 744px;
   }

   &--compact {
      max-width: 744px;
   }
   &--full-width {
      max-width: 2000px;
      @include screen-size(desktop) {
         width: 100%;
         padding-left: 2rem;
         padding-right: 2rem;
      }
   }
}
