.page-header {
   width: 100%;
   padding-top: 4rem;
   @include screen-size(tablet-portrait) {
      padding-top: 5rem;
   }
   @include screen-size(desktop) {
      padding-top: 6rem;
   }
}

.page-header-content {
   max-width: 800px;
}

.page-title {
   font-weight: 700;
   line-height: 1.25;
   font-size: 2rem;
   @include screen-size(tablet-portrait) {
      font-size: 2.5rem;
   }
   @include screen-size(desktop) {
      font-size: 3.5rem;
   }
}

.page-intro {
   margin-top: 0.5em;
   font-size: 1.25rem;
   @include screen-size(tablet-portrait) {
      font-size: 1.5rem;
   }
   @include screen-size(desktop) {
      font-size: 1.75rem;
   }

   a {
      font-weight: 700;
      color: var(--link-color);
   }
}
