<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />
        <link rel="stylesheet" type="text/css" href="{{ 'styles.css' | url }}" />
        <link rel="icon" href="img/favicon.svg" />
        <title>{{ title }}</title>

    </head>
    <body>
        {{ content | safe }}