---
layout: base.njk
---

<div class="page-header">
    <div class="page-header-content container">
        <h1 class="page-title">Writing</h1>
        <p class="page-intro">I ocassionally write stuff on <a href="https://medium.com/@havard.brynjulfsen"
                        class="link">Medium</a> — some of which have been published to the <a
                        href="https://uxdesign.cc/" class="link">UXCollective</a>.
                </p>
    </div>
</div>
<div class="block container">
    <div class="article-list">
        <div class="article-list-item">
            <h2 class="article-list-item-title">
                <a href="#">Create better, accessible focus effects</a>
            </h2>
            <p class="article-list-item-excerpt">Here’s a neat little CSS-trick for when you need an
                        alternative to the outline property.</p>
        </div>
        <div class="article-list-item">
            <h2 class="article-list-item-title">
                <a href="#">Creativity is only impressive when there’s
                            restrictions</a>
            </h2>
            <p class="article-list-item-excerpt">Why “form follows function” is a valid design principle in
                        today’s web design landscape.</p>
        </div>
        <div class="article-list-item">
            <h2 class="article-list-item-title">
                <a href="article.html">Users will break your design — and
                            it’s not their fault</a>
            </h2>
            <p class="article-list-item-excerpt">Enter the uncomfortable zone of designing for variable “x”.
                    </p>
        </div>
    </div>
</div>