<footer class="site-footer">
    <button class="site-info-toggle" id="site-info-toggle">
        <ion-icon name="information-circle-outline"></ion-icon>
    </button>
    <div class="site-info" id="site-info">
        <h2>About this site</h2>
        <p>Icons from <a href="#" class="link">Ionicons</a> and illustrations from Pablo Stanley's <a href="#"
                        class="link">Open Peeps</a>.
                </p>
        <p>Designed and developed by yours truly. Powered by <a href="#" class="link">Eleventy</a>.</p>
    </div>
    <div class="site-info-overlay" id="site-info-overlay"></div>
</footer>