<header class="site-header">
    <div class="site-header-content container container--full-width">
        <div class="site-logo">
            <a href="/">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 53.24">
                    <title>Håvard Brynjulfsen</title>
                    <g id="Group_10" data-name="Group 10">
                        <g id="Rectangle_19" data-name="Rectangle 19">
                            <rect id="Rectangle_21" data-name="Rectangle 21" x="15.54" y="5.64" width="17"
                                        height="17" transform="translate(-2.96 21.14) rotate(-45)" fill="none" />
                            <path id="Path_15" data-name="Path 15"
                                        d="M24,4.24l9.9,9.9L24,24l-9.9-9.9L24,4.24M24,0,9.9,14.14,24,28.28,38.18,14.14,24,0Z" />
                        </g>
                        <g id="Group_7" data-name="Group 7">
                            <path id="Path_16" data-name="Path 16"
                                        d="M6.54,33.44l7.77-7.77L24,35.41,34,25.5l7.95,7.94L24.22,51.12Z" fill="none" />
                            <path id="Path_17" data-name="Path 17"
                                        d="M34,27.62l5.82,5.82L24.22,49,8.66,33.44l5.65-5.65,7.61,7.61L24,37.53l2.12-2.13L34,27.62m0-4.25L24,33.28l-9.73-9.73L4.42,33.44l19.8,19.8L44,33.44,34,23.37Z" />
                        </g>
                        <g id="Group_8" data-name="Group 8">
                            <circle id="Ellipse_8" data-name="Ellipse 8" cx="43" cy="48.1" r="3.5"
                                        fill="none" />
                            <path id="Path_18" data-name="Path 18"
                                        d="M43,46.1a2,2,0,1,1-2,2,2,2,0,0,1,2-2m0-3a5,5,0,1,0,5,5A5,5,0,0,0,43,43.1Z" />
                        </g>
                        <g id="Group_9" data-name="Group 9">
                            <circle id="Ellipse_9" data-name="Ellipse 9" cx="5" cy="48.1" r="3.5" fill="none" />
                            <path id="Path_19" data-name="Path 19"
                                        d="M5,46.1a2,2,0,1,1-2,2,2,2,0,0,1,2-2m0-3a5,5,0,1,0,5,5A5,5,0,0,0,5,43.1Z" />
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <nav class="site-navigation">
            <div class="main-menu-wrapper" id="main-menu">
                <ul class="main-menu">
                    {% set navPages = collections.all | eleventyNavigation %}

                    {%- for nav in navPages -%}
                        <li class="main-menu-item">

                            <a href="{{ nav.url | url }}" class="main-menu-link">
                                {# {% if nav.data.icon %}
                                    <ion-icon name="{{ nav.data.icon }}"></ion-icon>
                                {% endif %} #}
                                {{ nav.title }}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="dark-mode-toggle">
                <input type="checkbox" id="dark-mode-toggle" class="dark-mode-toggle-input" />
                <label for="dark-mode-toggle" class="dark-mode-toggle-label"></label>
            </div>
            <button class="main-menu-toggle" id="main-menu-toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </button>
        </nav>
    </div>
</header>