<header class="site-header">
    <div class="site-header-content container container--full-width">
        <div class="site-logo">
            <a href="/">
                <svg id="unicorn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
                    <g id="eye"><polygon points="74.22 57.45 63.79 57.45 60.12 53.63 63.68 50.2 65.89 52.51 74.22 52.51 74.22 57.45" /></g><polygon points="69.15 96 61.1 81.84 55.6 81.84 63.65 96 69.15 96" /><polygon points="76.89 54.79 76.89 50.89 68.6 41.02 89.65 2.94 85.73 0 52.69 33.09 52.53 33.09 56.56 17.81 39.74 28.94 35.26 36.69 16.55 54.07 4.41 80.55 9.85 80.55 20.65 57.01 38.89 40.06 39.16 39.81 43.43 32.42 48.48 29.09 46.12 38.03 54.74 38.03 76.83 15.91 62.64 41.59 71.95 52.69 71.95 56.29 85.72 76.94 81.84 83.25 76.29 83.25 74.83 78.04 61.7 71.18 54.6 71.18 49.43 66.92 48.73 61.89 43.74 61.89 44.8 69.52 52.83 76.13 60.48 76.13 70.65 81.44 72.55 88.19 84.6 88.19 91.59 76.84 76.89 54.79" /></svg>
            </a>
        </div>
        <nav class="site-navigation">
            <div class="main-menu-wrapper" id="main-menu">
                <ul class="main-menu">
                    {% set navPages = collections.all | eleventyNavigation %}

                    {%- for nav in navPages -%}
                        <li class="main-menu-item">

                            <a href="{{ nav.url | url }}" class="main-menu-link">
                                {{ nav.title }}
                                {% if nav.external %}
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                {% endif %}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="dark-mode-toggle">
                <input type="checkbox" id="dark-mode-toggle" class="dark-mode-toggle-input" />
                <label for="dark-mode-toggle" class="dark-mode-toggle-label"></label>
            </div>
            <button class="main-menu-toggle" id="main-menu-toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </button>
        </nav>
    </div>
</header>