<header class="site-header">
    <div class="site-header-content container container--full-width">
        <div class="site-logo">
            <a href="/">
                <svg id="unicorn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="M48,96A48,48,0,1,1,96,48,48.05,48.05,0,0,1,48,96ZM48,3.84A44.16,44.16,0,1,0,92.16,48,44.21,44.21,0,0,0,48,3.84Z" />
                    <g id="head"><polygon points="69.61 84.43 60.25 84.43 58.77 79.19 50.88 75.06 44.93 75.06 38.69 69.92 37.79 63.42 41.59 62.9 42.29 67.91 46.31 71.22 51.82 71.22 62.02 76.55 63.16 80.59 67.47 80.59 70.48 75.7 59.78 59.65 59.78 56.85 52.55 48.23 63.58 28.28 46.42 45.47 39.72 45.47 41.55 38.52 37.63 41.11 34.32 46.85 34.11 47.05 19.93 60.21 12.79 76.14 9.29 74.58 16.75 57.93 31.28 44.43 34.76 38.41 47.83 29.76 44.7 41.63 44.83 41.63 70.5 15.92 73.53 18.21 57.19 47.78 63.62 55.45 63.62 58.49 75.04 75.61 69.61 84.43" /></g>
                    <g id="eye"><polygon points="61.55 60.55 53.45 60.55 50.59 57.59 53.36 54.92 55.08 56.71 61.55 56.71 61.55 60.55" /></g><polygon points="50.36 78.72 46.09 78.72 53.6 94.09 57.05 92.41 50.36 78.72" /></svg>
            </a>
        </div>
        <nav class="site-navigation">
            <div class="main-menu-wrapper" id="main-menu">
                <ul class="main-menu">
                    {% set navPages = collections.all | eleventyNavigation %}

                    {%- for nav in navPages -%}
                        <li class="main-menu-item">

                            <a href="{{ nav.url | url }}" class="main-menu-link">
                                {{ nav.title }}
                                {% if nav.external %}
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                {% endif %}
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="dark-mode-toggle">
                <input type="checkbox" id="dark-mode-toggle" class="dark-mode-toggle-input" />
                <label for="dark-mode-toggle" class="dark-mode-toggle-label"></label>
            </div>
            <button class="main-menu-toggle" id="main-menu-toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </button>
        </nav>
    </div>
</header>