body {
   font-family: var(--primary-font-family);
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   line-height: 1.6;
   position: relative;

   &::-webkit-scrollbar {
      width: 20px;
   }

   &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track-color);
   }

   &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color);
      border-radius: 99em;
      border: 5px solid var(--scrollbar-track-color);
   }

   &.no-scroll {
      height: 100vh;
      overflow: hidden;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 800;
}

:focus {
   outline: none;
   outline: 0.25rem dashed;
   outline-offset: 0.125rem;
}
