@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap");

:root {
   --primary-font-family: "Manrope", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
   // --secondary-font-family: "Sora", sans-serif;
   --primary-bg-color: #fff;
   --secondary-bg-color: #c7f7e8;
   --primary-text-color: #202020;
   --secondary-text-color: #162447;
   --link-color: #004643;
   --code-bg-color: var(--secondary-bg-color);
   --code-text-color: var(--primary-text-color);
   --code-font-family: "Fira Code", monospace;
   --scrollbar-color: var(--primary-text-color);
   --scrollbar-track-color: var(--primary-bg-color);
   &.dark-mode {
      --primary-bg-color: #2c2320;
      --secondary-bg-color: #55423d;
      --primary-text-color: #fff3ec;
      --secondary-text-color: #fff1ed;
      --link-color: #ffc0ad;
      --code-bg-color: var(--secondary-bg-color);
      --code-text-color: var(--primary-text-color);
      --scrollbar-color: var(--primary-text-color);
      --scrollbar-track-color: var(--primary-bg-color);
   }
}
