.dark-mode-toggle-label {
   margin-left: 2rem;
   position: relative;
   display: block;
   width: 48px;
   height: 28px;
   border-radius: 99em;
   background-color: var(--primary-bg-color);
   border: 2px solid var(--link-color);
   overflow: hidden;
   cursor: pointer;
   @include screen-size(tablet-landscape) {
      background-color: var(--primary-bg-color);
   }
   &:before,
   &:after {
      display: block;
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 50%;
      top: 3px;
      left: 3px;
      // transition: 0.25s ease-out;
   }
   &:before {
      background-color: var(--link-color);
   }

   &:after {
      background-color: var(--primary-bg-color);
      left: -15px;
      transform: scale(0.00001);
   }
}

.dark-mode-toggle-input {
   display: none;
   &:checked + label {
      &:before {
         transform: translateX(20px);
      }

      &:after {
         transform: translateX(calc(30px)) scale(1);
      }
   }
}
