.site-info-toggle {
   width: 3rem;
   height: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   position: fixed;
   bottom: 0.5rem;
   left: 0.5rem;
   border-radius: 50%;
   color: var(--secondary-text-color);
   background-color: var(--secondary-bg-color);
   cursor: pointer;
   z-index: 150;
   @include screen-size(tablet-landscape) {
      bottom: 2rem;
      left: 2rem;
   }
}

.site-info {
   position: fixed;
   padding: 1.5rem;
   background-color: var(--secondary-bg-color);
   bottom: 4.5rem;
   border-radius: 0.5rem;
   left: 0.5rem;
   max-width: calc(100vw - 1rem);
   visibility: hidden;
   transform: scale(0);
   transform-origin: 0 100%;
   transition: transform 0.25s ease-in-out;
   font-size: 1rem;
   z-index: 150;
   @include screen-size(tablet-landscape) {
      bottom: 6rem;
      left: 2rem;
      max-width: calc(100vw - 4rem);
   }

   &.open {
      visibility: visible;
      transform: scale(1);
      * {
         opacity: 1;
      }
   }

   * {
      opacity: 0;
      transition: opacity 0.25s ease-in-out 0.25s;
   }
   & > * + * {
      margin-top: 0.5em;
   }

   h2 {
      font-weight: 800;
   }
}

.site-info-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   z-index: 100;
   &.open {
      display: block;
   }
}
